<!-- Componente padre -->
<template>
    <main>
      <h1>Lista de Usuarios</h1>
      <div >
        <div class="list">
          <UserItem v-for="user in users" :key="user.Id" v-bind="user" />
        </div>
        
        <form class="formulario"  @submit.prevent="agregarUsuario">
          <label for="nombre">Nombre:</label>
          <input v-model="nuevoUsuario.nombre" id="nombre" required>
  
          <label for="apellido">Apellido:</label>
          <input v-model="nuevoUsuario.apellido" id="apellido" required>
  
          <label for="email">Email:</label>
          <input v-model="nuevoUsuario.email" id="email" required>
  
          <label for="edad">Edad:</label>
          <input type="number" v-model.number="nuevoUsuario.edad" id="edad" required>
  
          <button type="submit">Agregar Usuario</button>
        </form>
      </div>
    </main>
  </template>
  
  <script setup lang="ts">
  import UserItem from "@/components/ComponentChild.vue";
  import { ref } from 'vue';
  import Users from "@/data/UserData";
  
  const users = ref([...Users]); 
  const nuevoUsuario = ref({
    nombre: '',
    apellido: '',
    email: '',
    edad: 0,
  });
  
  const agregarUsuario = () => {
      const nuevoId = users.value.length > 0 ? users.value[users.value.length - 1].Id + 1 : 1;
  
      users.value.push({
        Id: nuevoId,
        Name: nuevoUsuario.value.nombre,
        Lastname: nuevoUsuario.value.apellido,
        Email: nuevoUsuario.value.email,
        Age: nuevoUsuario.value.edad,
      });
  
      users.value = [...users.value];
  }
  </script>
  
  <style scoped>
  .main {
    text-align: center;
  }
  
  .formulario {
    width: 30%; 
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin-left: 850px;
    bottom: 520px;
  }
  .formulario label {
    font-weight: bold;
  }
  
  .formulario input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .formulario button {
    padding: 10px;
    background-color: #0083c0; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .formulario button:hover {
    background-color: #011cb6;
  }
  
  </style>