<!-- Componente hijo -->
<script setup lang="ts">
import { ref } from 'vue';
import type { UserInfo } from "@/Interfaces/UserInfo";
const Props = defineProps<UserInfo>();
const Name = ref(Props.Name);
const backgroundColor = ref('#ffffff'); 

const cardClicked = () => {
  backgroundColor.value = '#DE0000';
};
</script>

<template>
  <div class="card" :style="{ backgroundColor: backgroundColor }" @click="cardClicked">
    <h2>#{{ Props.Id }} {{ Name }} | {{ Props.Lastname }}</h2>
    <h3>Email: <span>{{ Props.Email }}</span></h3>
    <h3>Age: <span>{{ Props.Age }}</span></h3>
  </div>
</template>

<style scoped>
.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: calc( 25% - 10px); 
  box-sizing: border-box; 
  display: inline-block; 
}

.card:hover {
  background-color: #e0e0e0;
}
</style>