<!-- Recrear una Lista de Datos
Buenos días apreciables alumnos, como ayer les comentaba, la 3ra actividad será la realización de una lista de datos (6 vistas/links O 10 datos generados) tomando como referencia el Menú pero ustedes pueden crear sus propias constantes.
Las condiciones de la actividad son las siguientes:
Deben usar al menos 2 componentes (Padre e Hijo).
Deben definir las props de algunas de esos componentes.
Deben utilizar las directivas mencionadas con anterioridad: (v-for , v-if, v-on, v-bind:atributo)
Con lo antes mencionado obviamente involucra el diseño por medio de estas propiedades.}
Los datos impresos deben tener las siguientes condiciones a cumplir 
Menu:
Si el índex es numero par de ese valor, no debo poder acceder a el por medio de la etiqueta que ya conocen.
Cada vista debe tener un componente que regrese a la raíz del sitio.
Cada vista debe tener algún mensaje que lo identifique al renderizarlo.
Datos generados:
Al valor al que le de clic de la lista, que tenga una forma de cambiarle el color de fondo (valor estático sin inputs).
Debe ser posible agregar datos en la vista que se rendericen como ítems.
Estos valores a agregar deben ser validados dependiendo su tipo de dato ejem: (string != nul || string.lenght >0)
Puntos a considerar: Autenticidad, estandarización del código, diseño, seguimiento de indicaciones y validaciones.
Aclaro, pueden realizar un Menú, una lista de datos generados o ambas pero cumpliendo con lo anterior mencionado.

La fecha de entrega está destinada para el lunes a las 12:00pm, subirán por el momento a su repositorio y me compartirán el link por este medio. -->

<script setup lang="ts">
import UsersList from './components/ComponentParent.vue';
</script>

<template>
  <main>
    <UsersList class="list" />
  </main>
   
</template>

<style scoped>

.list {
  margin: 0px;
  padding: 0px;

}
</style>


